.sendForm {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.textarea {
    width: 100%;
    /*height: 50px;*/
    min-height: 50px;
    max-height: 150px;
    padding:  0 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    resize: vertical;
    outline: none;
    line-height: 40px;
    overflow: hidden;

}

.button {
    background-color: #007aff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 50px;

}

.button:hover {
    background-color: #005ecb;
}
.button:active {
    background-color: #0047a3;
    transform: scale(0.95);
}
